<h1><%= @restaurant.name %></h1>
<h5><%= @restaurant.category.capitalize %></h5>
<h5>Address: <%= @restaurant.address %></h5>
<h5>Phone: <%= @restaurant.phone_number %></h5>
<%= link_to 'All restaurants', restaurants_path(@restaurant), class: "btn btn-primary" %>
<%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
<%= link_to 'Write review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<br>
<p></p>
<h4>Reviews</h4>
<ul class="list-group">
  <li class="list-group-item">
    <% @restaurant.reviews.each do |review| %>
      <p>Rating: <%= review.rating %></p><br>
      <%= review.content %>
    <% end %>
  </li>
</ul>
